$font-hind: 'Hind', sans-serif;
$font-mulish: 'Mulish', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$black-color: #303030;
$container-padding: 64px 0;
$white-color: #fff;
$grey-color: #999999;
$transition: all .8s;
